/* common shared styles*/

body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border:0;
    color:white;
    font-size: 20px;
    font-weight: 700;
    padding:15px 35px;
}
.section-title{
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;

}
.section-description{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
/* nav related style*/
nav{
     display:flex;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      align-items: center;
      justify-content:space-between;
      margin:0 200px;
      
}
.nav-title{
    color: #181818;
font-size: 45px;
font-weight: 800;
line-height: normal;
margin-left:100px 220px;
}
.orange-style {
    color: #FD6E0A;
}
nav>ul{
    display:flex;
    text-decoration: none;
    list-style: none;
    margin-right:250px;
    align-items: center;
    font-size: 30px;
}
nav li{
    margin:50px;
}
nav a{
    text-decoration:none;
    color: var(--dark-02, #474747);
}
/*header related styles */
.header-style{
    background-color:rgb(245, 220, 204);
    background-image:url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat:no-repeat;
    background-position: bottom right,bottom left;
    
} 
.banner{
    padding:30px 30px 0px 150px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.banner-content{
          max-width:500px;
}

.profile-picture:{
    width: 100px;
height: 100px;
flex-shrink: 0;
}
.banner-greeting{
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 600;
margin-bottom:0px;
}
.banner-title{
    color: var(--dark-01, #181818);
font-family: Open Sans;
font-size: 85px;
font-style: normal;
font-weight: 700;
margin-top:5px;
margin-bottom:20px;
}
/*about section styles*/
.about{
   margin:130px 0;
   border-radius: 10px;
   background: #FFF8F3;
   padding:130px;
}
.about-info-container{
    display:flex;
    justify-content: space-around;

}

/*main section styles*/
main{
    width:1140px;
height: 550px;
margin:0 auto;
}
.about-info{
    text-align:center;
}
#what-i-do{
    padding:30px 150px;
}
.skills-container{
    display:flex;
}
